<div class="main">
  <div class="logo">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.creativefabrica.com%2Fpl%2Fproduct%2Freal-estate-building-construction-logo-4%2F&psig=AOvVaw1XFRQELoOOThjG6gQqj3-S&ust=1702421389394000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIjohoy8iIMDFQAAAAAdAAAAABAD" alt="">
  </div>
  <div class="nav">
    <a href="flats">flat complex</a>
    <a href="houses">Houses</a>
    <a href="offices">Offices</a>
    <a href="news">News</a>
    <div class="user">
      <a href="logIn">Log In</a>
      <a href="signin">Sign Up</a>
    </div>
  </div>
</div>
